

/*Header*/
.Header-container{
  height: 100%;
  background-color: #3D4D8F;
  min-width: 60px;
  width: 7vw;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Header-innerContainer {
  height: 60%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.Header-innerContainer div {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 100px;
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
}







/*Dashboard*/
.Dashboard {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}
.Dashboard-container {
  flex: 1;
  display: flexbox;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
}
.Dashboard-left {
  height: calc(100% - 8vh);
  width: calc(65% - 4vw);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 4vh;
  padding-bottom: 4vh;
  padding-left: 2vw;
  padding-right: 2vw;
}
.Dashboard-left-top {
  height: 18%;
  width: 100%;  
  background-color: antiquewhite;
}
.Dashboard-left-bottom {
  height: 78%;
  width: 100%;
  background-color: antiquewhite;
}