
.mapRoutes-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: #D8D8D8;
}
.mapRoutes-content {
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;  
}
.mapRoutes-content-mapContainer {
    height: 90%;
    width: 50%;
    background-color: white;
    border-radius: 15px;
}
.mapRoutes-content-map {
    height: 100%;
    width: 100%;
    border-radius: 15px;
}
.mapRoutes-content-details {
    height: 90%;
    width: 45%;
    background-color: white;
    border-radius: 15px;
}
.leaflet-routing-container {
    display: none !important;
}

.mapRoutes-content-details-top {
    height: 10%;
    padding-top: 2%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.mapRoutes-content-details-top-search {
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.mapRoutes-content-details-top-search-container-img {
    height: 40%;
    aspect-ratio: 1;
    background-image: url("../assets/fuel-search.png");
    background-position: center;
    background-size: contain;
    margin-left: 5%;
    margin-right: 3%;
}
.mapRoutes-content-details-top-search-container {
    height: 60%;
    width: 90%;
    border-radius: 100px;
    background-color: #D8D8D8;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.mapRoutes-content-details-top-search-container-input {
    background-color: transparent;
    border: none;
    outline: none;
    margin-top: 0.5%;
    flex: 1;

}
.mapRoutes-content-details-top-filter {
    height: 100%;
    flex: 1;
    background-color: antiquewhite;
}
.mapRoutes-content-details-top-add {
    height: 100%;
    aspect-ratio: 1;
    margin-right: 3%;
    background-color: darkgrey;
}